<div class="main">
    <div class="main_bg">
        <%= image_tag("svg/login_bg.svg") %>
    </div>
    <div class="short">
        <%= image_tag("svg/short.svg") %>
    </div>
    <div class="cards">
        <%= image_tag("svg/cards.svg") %>
    </div>
    <div class="poster">
        <%= image_tag("svg/poster.svg") %>
    </div>
</div>
<div class='login_btns main_login'>
    <div class="logo">
        <%= image_tag("svg/logo.svg") %>
    </div>

    <%= link_to 'Бүртгүүлэх', sign_up_path, class:"btn btn_sign_in" %>
        <%= link_to 'Нэвтрэх', sign_in_path, class:"btn btn_sign_up" %>
            <div class="dot">
                <%= image_tag("svg/dot.svg")%>
            </div>

</div>