
<div class="main">
  <div class="main_bg">
  <%= image_tag("svg/login_bg.svg") %>
  </div>
  <div class="short">
  <%= image_tag("svg/short.svg") %>
  </div>
  <div class="cards">
  <%= image_tag("svg/cards.svg") %>
  </div>
  <div class="poster">
  <%= image_tag("svg/poster.svg") %>
  </div>
</div>
<div class='login_btns main_login'>
  <div class="logo">
    <%= image_tag("svg/logo.svg") %>
  </div>
  <%= form_with model: @user, url: sign_up_path do |form| %>
<% if form.object.errors.any?%>
  <div class="alert alert-danger">
  <% form.object.errors.full_messages.each do |message| %>
    <div><%= message %></div>
  <% end %>
  </div>
<% end %>
<div class="label">
  <%= form.label :email, 'Цахим хаяг' %>
  <%= form.text_field :email, class:"form-control", placeholder: "example@email.com" %>
</div>
<div class="label">
  <%= form.label :password, "Нууц үг" %>
  <%= form.password_field :password, class:"form-control", placeholder: "password" %>
</div>
<div class="label">
  <%= form.label :password_confirmation, "Нууц үг бататгах" %>
  <%= form.password_field :password_confirmation, class:"form-control", placeholder: "password"%>
</div>
<div class="sign_up_btns">
  <%= form.submit "Бүртгүүлэх", class:"btn btn_sign_in"%>
  <%= link_to 'Нэвтрэх', sign_in_path, class:"btn btn_sign_up" %>
</div>
<% end %>
  <div class="dot">
    <%= image_tag("svg/dot.svg")%>
  </div>
</div>
